header{

    background-color: #333;
    padding: 20;
    margin: 0;
    color: white;
    display: flex;
   
    
}

#company-name-align{
    margin-left: 84%;
    

}


.navigation-bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #333;

}

.navigation-bar-link{
    padding:10px 20px 10px 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0px 20px 10px 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: 85%;
    background: #999;
}

.shop-now{
    color: green;
    padding: 10px;
    /* border-radius: 10px; */
}
.customer-reviews{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px 20px 10px 10px;
    /* margin-top: 10px; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    width: 85%;
    background: #999;
}


